[submodule "packages/android-tools"]
	path = packages/android-tools
	url = https://github.com/wilop/android-tools.git
[submodule "packages/arduino-ide"]
	path = packages/arduino-ide
	url = https://github.com/wilop/arduino-ide.git
[submodule "packages/vendetta-online"]
	path = packages/vendetta-online
	url = https://github.com/wilop/vendetta-online.git
[submodule "packages/fastfetch"]
	path = packages/fastfetch
	url = https://github.com/wilop/fastfetch.git
[submodule "packages/rt3290-dkms"]
	path = packages/rt3290-dkms
	url = https://github.com/wilop/rt3290-dkms.git
